html {
    height: 100vh;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #c6e2ff;
}

.container {
    width: 100%;
    text-align:  center;
    margin-top: 250px;
}


#tittle {
    color: #473c8b;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

#inquire {
    width: 150px;
    height: 40px;
    border: 0;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 10px;
    color: #fff;
    background-color: #ff0000;
    cursor: pointer;
    
}

#inputText{
    width: 350px;
    height: 36px;
    border: 1px solid #ff0000;
    outline: none;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 10px;
    color: #000;
    text-align: center;
    font-family: sans-serif;
}

.alert {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
    width: 100%;
}
.alert.alert-danger {
    background-color: #fa6f6f;
    color: #7e0000;
}
.alert.alert-success {
    background-color: #9aff9a;
    color: #005d00;
}